<ul class="footer">
    <li><a href="https://dainiusstrazdas.tech">Back to Portfolio</a></li>
    <li>|</li>
    <li>&copy; Dainius Strazdas.</li>
    <li>|</li>
    <li>All rights reserved.</li>
</ul>